.contact-card {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 50%;

  border: 1px solid #0083c99a;
  border-radius: 40px;
  padding: 40px 40px;
  margin: 20px 20px;  
}

.contact-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-email, .contact-linkedin, .contact-github {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.048);
  border-radius: 20px;

  margin: 4px;
  padding: 4px;
}

.contact-icon {
  font-size: 54px;
  color: black;
}

.contact-image {
  height: 300px;
  width: 400px;
  border: 2px solid #0083c99a;
  border-radius: 80%;
  
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
}

.contact-info-container h1, .contact-email p {
  margin: 0px;
}

.contact-info-container h1 {
  font-size: 30px;
}

.contact-info a, .contact-info p {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
