.exp-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.exp-card {
  display: flex;
  flex-direction: column; 
  width: 60%;
  color: white;
  
  padding: 60px;
  background-color: black;
  border-radius: 20px;
}

.exp-function {
  opacity: 0;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
}

.exp-gif {
  height: 250px;
  width: 300px;
  background-color: black;
}

.exp-info {
  display: flex;
  justify-content: space-between;  
}

.exp-info-items {
  display: flex;
  margin-right: 20px;
}

.exp-image {
  border: 2px solid #0083c99a;
  height: 150px;
  width: 150px;
}

.exp-item {
  padding: 20px;
  margin: 4px;
  height: 350px;
  width: 300px;  
}

.exp-item:hover {
  background-color: rgb(10, 10, 10);
  transition: 0.5s ease-in-out;
}

.exp-item:hover .exp-function, .exp-item:hover .exp-year {
  opacity: 1;
  transition: opacity 1000ms;
}

.exp-item h3 {
  margin: 0px;
}

.exp-title {
  margin-bottom: 40px;
}

.exp-title h1 {
  font-size: 60px;
  margin: 0px;
}

.exp-title h3 {
  margin-top: 0px;
}

.exp-year {
  opacity: 0;
}