.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-card {
  display: flex;
  padding: 200px 100px;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.24); 

  border-radius: 20px;
  margin-bottom: 20px;
}

.main-gif {
  height: 300px;
  width: 500px;
  border: 2px solid #0081C9;
  border-radius: 70%;
}

.main-info {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
}

.main-info h1 {
  font-size: 34px;
}

.main-welcome {
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, #000046 -5.91%, #0e5a6e 111.58%);

  border: 1px solid #0083c99a;
  font-size: 26px;
  margin-bottom: 16px;
}

section h4 {
  text-align: initial;
}
