.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(https://wallpaperaccess.com/full/46497.png);
}

.main-card {
  display: flex;
  padding-top: 100px;
  width: 70%; 
}

.main-gif {
  height: 300px;
  width: 500px;
  border: 2px solid #0081C9;
  border-radius: 70%;
}

.main-info {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
}

.main-info h1 {
  font-size: 36px;
}

section h4 {
  text-align: initial;
}
