.main-card {
  display: flex;
  flex-direction: column;
  padding: 200px 100px;
  width: 70%;

  border-radius: 20px;
  margin-bottom: 20px;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-image {
  height: 297px;
  width: 290px;
  border: 2px solid #0081C9;
  border-radius: 70%;

  margin-top: 30px;
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
      transform: translateY(-10px);
  }
  50% {
      transform: translateY(10px);
  }
  100% {
      transform: translateY(-10px);
  }
}

.main-info {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.main-info h1 {
  font-size: 70px;
  margin: 0px 2px;
}

.main-welcome {
  letter-spacing: 0.8px;
  padding: 10px;
  background: linear-gradient(90.21deg, #000046 -5.91%, #0e5a6e 111.58%);
  border: 1px solid #0083c99a;

  font-size: 26px;
  margin-bottom: 30px;  
}

