.navbar {
  padding: 8px 0;
  position: fixed;
  width: 100%;
  top: 0;
  
  z-index: 100;
  transition: 0.32s ease-in-out
}

.navbar-container {
  display: flex;
  justify-content: space-around;
}

.navbar-collapse {
  display: flex;
}

.navbar-link {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.8px;
  padding: 0 25px;

  text-decoration: none;
  font-size: 18px;
  opacity: 0.6;
}

.navbar-link:hover,
.navbar-link:active {
  opacity: 1;
  color: var(--primary);
}

.navbar-sections {
  display: flex;
  align-items: center;
}

.navbar-social-icons {
  display: flex;
  align-items: center;
}

.navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 70px;
  height: 70px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;

  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.89);
}

.social-icon a:hover {
  background-color: rgba(15, 14, 14, 0.151);
  border: 1px solid #000000c4;
}

.icon {
  font-size: 24px;
  z-index: 1;
  transition: 0.3s ease-in-out;
  color: #fff;
}

.social-icon a:hover .icon {
  color: var(--primary);
}

.scrolled {
  padding: 0px 0;
  background-color:  #121212;
}