.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  padding: 60px;
  border-radius: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: 20px;
  background-color: var(--bg-color);
}

.project-github-link {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  opacity: 0;
}

.project-github-link:hover {
  color: var(--primary);
}

.project-image {
  height: 180px;
  width: 180px;
  border: 2px solid #0081C9;
  border-radius: 70%;

  margin-bottom: 8px;
}

.project-info {
  display: flex;
}

.project-item {
  color: white;
  margin: 4px;
  padding: 8px;

  height: 230px;
  transition-duration: 500ms;
  transition-property: height, background-color, outline;  
  border-radius: 20px;
}

.project-item > p {
  font-size: 24px;
}

.project-item:hover {
  height: 300px;
  outline: 1px solid #0083c99a;
}

.project-item:hover .project-badges, .project-item:hover .project-github-link {
  opacity: 1;
  transition: opacity 2300ms;
}

.project-text {
  margin-bottom: 40px;
}

.project-text h1 {
  font-size: 60px;
  margin: 0px;
  color: white;
}

.project-text h3 {
  color: white;
  margin-top: 0px;
}