.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: 20px;
}

.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.541);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.562);
}

.project-info {
  display: flex;
}

.project-item {
  border: 1px solid rgba(245, 245, 245, 0.137);
  color: white;
  margin: 4px;
  padding: 8px;
}

.project-text h1 {
  font-size: 35px;
  color: white;
}

.project-text h3 {
  color: white;
}