.react-multi-carousel-list {
  height: 75%;
}

.skills-card {
  width: 70%;
  border-radius: 20px;
  padding: 60px;
}

.skills-card h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 0px;
}

.skills-card h3 {
  color: white;
  margin-bottom: 40px;
}

.skills-card h3, .skills-card h1 {
  margin: 0px;
}

.skills-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color);
}

.skill-img {
  height: 180px;
  width: 180px;
  border: 2px solid #0081C9;
  border-radius: 70%;

  margin-bottom: 8px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;

  height: 100%;
  color: white;
  margin: 6px;
}


.skills-item h3 {
  margin-bottom: 2px;
}

.skills-item a {
  text-decoration: none;
  color: white;
  opacity: 0;
}

.skills-item p {
  opacity: 0;
}

.skills-item:hover {
  background-color: rgba(20, 20, 20, 0.514);
  border-radius: 40px;
}

.skills-item:hover p, .skills-item:hover a  {
  opacity: 1;
  transition: opacity 700ms;
}

.skills-item a:hover {
  color: var(--primary);
}

