:root {
  font-size: 16px;
  --primary: #0081C9;
  --bg-color: rgba(0, 0, 0, 0.562);
}

* {
  font-family: 'Rajdhani', sans-serif;
}

p {
  margin: 0px;
}

body {
  max-height: 100vh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

section {
  margin-bottom: 150px;  
}

.App {
  text-align: center;
}

.none {
  opacity: 0;
}

