:root {
  font-size: 16px;
  --primary: #0081c9;
  --bg-color: rgba(0, 0, 0, 0.562);
}

body {
  max-height: 100vh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

section {
  margin-bottom: 100px;
}

p {
  margin: 0px;
}

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 800px 800px 800px auto auto;

  text-align: center;
}

.none {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-rows: 1fr 600px 600px 600px auto auto;
  }
}
