:root {
  font-size: 16px;
  --primary: #0081C9;
}

* {
  font-family: 'Rajdhani', sans-serif;
}

.App {
  text-align: center;
}

body {
  background-color: #282c34;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
