@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

@layer components {
  .country-badges {
    @apply h-5 w-5 mr-1 lg:h-8 lg:w-8 cursor-pointer hover:border-black border rounded-full duration-500
  }

  .contact-type {
    @apply text-xl md:text-2xl hover:text-gray-500 border-b-2 border-gray-800
    hover:border-gray-900 dark:border-gray-200 dark:hover:border-gray-300 duration-300
  }

  .exp-container {
    @apply flex flex-col items-center h-4/5 w-2/4 md:h-96 md:w-64 p-4 m-1 
    rounded-lg shadow-white dark:shadow-gray-800 shadow-sm
    hover:bg-gray-200 dark:hover:bg-secondaryBg duration-500
  }

  .exp-description:before {
    @apply absolute content-[''] border-b w-[0px] h-[120px] md:h-[192px]
  }

  .exp-description:before:hover{
    @apply absolute content-[''] border-white dark:border-gray-500 w-2/4 h-[120px] md:h-[192px]
  }

  .proj-description:before {
    @apply absolute content-[''] border-b w-[0px] h-[46px] md:h-[50px] lg:h-[64px]
  }

  .proj-description:before:hover{
    @apply absolute content-[''] border-white dark:border-gray-500 w-11/12 h-[46px] md:h-[50px] lg:h-[64px]
  }

  .proj-description:after {
    @apply absolute content-[''] border-b w-[0px] h-[180px] md:h-[230px]
  }

  .proj-description:after:hover{
    @apply absolute content-[''] border-white dark:border-gray-500 w-2/4 h-[180px] md:h-[230px]
  }

  .project-list-container {
    @apply flex flex-col items-center m-2 p-2 h-64 sm:h-64 md:h-72 lg:h-80   
    w-11/12 lg:w-52 duration-300 rounded-2xl shadow-md dark:shadow-gray-900 
    hover:bg-gray-200 dark:hover:bg-secondaryBg border border-gray-100 dark:border-gray-800 
    hover:border-primary dark:hover:border-primary 
  }

  .sections-titles {
    @apply text-primary dark:text-white p-2 
    border border-gray-300 dark:border-gray-900 rounded-md bg-gradient-to-r from-gray-100 to-gray-300 
    dark:from-gray-900 dark:to-black tracking-wider 
    shadow-sm shadow-gray-800 dark:shadow-gray-400
  }

  .sections::before{
    @apply absolute content-[''] border-b w-[0px] h-[2px]     
  }

  .sections::before:hover{
    @apply absolute content-[''] border-gray-500 w-full h-[2px]    
  }

  .skills-container {
    @apply flex flex-col items-center justify-center p-4 m-2 hover:bg-gray-200 h-80 md:h-96 
    dark:hover:bg-secondaryBg rounded-3xl shadow-lg dark:shadow-black border border-gray-200 
    hover:border-white dark:border-slate-800 dark:hover:border-slate-300 duration-500
  }

  .skills-card-image {
    @apply w-20 h-20 md:w-28 md:h-28 border border-primary rounded-full mb-3
  }

  .social-icon {
    @apply w-10 h-10 bg-gray-600 rounded-3xl mr-2 items-center justify-center 
    inline-flex border border-white hover:bg-black duration-300 hover:scale-105
  }
}
